@charset "utf-8";

/** GENERAL **/

:root {
	--background-color: #080808;
	--accent-color: #e40070;
	--accent-color2: #ad005f;
	--button-color: #e40070;
	--pink-3d: #fa495a;
	--blue-3d: #3cefc3;
}

.clip {
	background-image: linear-gradient( 135deg, #43CBFF 0, #9708CC 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

body {
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	background-color: var(--background-color);
	color: white;
	font-family: 'Montserrat', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE and Edge */
.hide-scroll {
	-ms-overflow-style: none;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
  }


/* @media only screen and (max-width: 1080px) {
	.about-text {
		color: white;
		font-weight: 400;
		font-size: 2em;
		margin: 5vh;
		width: 80%;
	}

	.about-content {
		color: white;
		font-weight: 400;
		font-size: 2em;
		margin: 5vh;
		width: 80%;
	}
} */

/* Center bars */
.left-bar {
	/* Position */
	position: fixed;
	left: 52%;
	top: 50%;

	/* Style */
	background-color: var(--pink-3d);
	height: 500px;
	width: 100px; /* Not dynamic... */
	transform: translate(-50%, -75%) rotate(45deg);
	transform-origin: left;

	transition-duration: 0.5s;
}

.left-bar.default {
	transform: translate(-50%, -75%) rotate(45deg) translate(0, -100vh);
}

.left-bar.about {
	transform: rotate(0deg);
	left: 30%;
	top: 0%;
	width: 70%;
	height: 100vh;
}

.left-bar.projects {
	transform: translate(-50%, -75%) rotate(45deg) translate(0, -100vh);
}

.left-bar.cv {
	transform: rotate(0deg);
	width: 100%;
	height: 70vh;
	left: 0;
	top: 30vh;
}

.left-bar.contact {
	transform: translate(-50%, -75%) rotate(45deg) translate(0, -100vh);
}

.right-bar {
	/* Position */
	position: fixed;
	left: 48%;
	top: 50%;

	/* Style */
	background-color: var(--blue-3d);
	height: 500px;
	width: 100px; /* Not dynamic... */
	transform: translate(-50%, -25%) rotate(45deg);
	transform-origin: left;

	transition-duration: 0.5s;
}

.right-bar.default {
	transform: translate(-50%, -25%) rotate(45deg) translate(0, 100vh);
}

.right-bar.about {
	transform: translate(-50%, -25%) rotate(45deg) translate(0, 100vh);
}

.right-bar.projects {
	transform: rotate(0deg);
	left: 30%;
	top: 0%;
	width: 70%;
	height: 100vh;
}

.right-bar.cv {
	transform: translate(-50%, -25%) rotate(45deg) translate(0, 100vh);
}

.right-bar.contact {
	transform: rotate(0deg);
	width: 100%;
	height: 70vh;
	left: 0;
	top: 30vh;
}

/* Nav box */
#nav {
	float: left;
	padding: 5vh;
}

#nav ul {
	list-style-type: none;
}

#nav ul li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	cursor: pointer;
}

#nav ul li.active {
	color: var(--pink-3d);
}

/* Content */
h1 {
	font-size: 3em;
}

.aboutContent {
	color: #f1f1f1;
	position: absolute;
	left: 30%;
	width: 70%;
	padding: 2%;
	opacity: 0;

	transition-delay: 0.0s;
	transition-duration: 0.0s;
	transition-timing-function: ease-out;
}

.aboutContent.visible {
	opacity: 1;
	transition-delay: 0.4s;
	transition-duration: 0.1s;
}

.projectsContent {
	color: var(--background-color);
	position: absolute;
	left: 30%;
	width: 70%;
	padding: 2%;
	opacity: 0;

	transition-delay: 0.0s;
	transition-duration: 0.0s;
	transition-timing-function: ease-out;
}

.projectsContent.visible {
	opacity: 1;
	transition-delay: 0.4s;
	transition-duration: 0.1s;
}

.cvContent {
	color: #f1f1f1;
	position: absolute;
	left: 0%;
	width: 100%;
	top: 30vh;
	padding: 2%;
	opacity: 0;

	transition-delay: 0.0s;
	transition-duration: 0.0s;
	transition-timing-function: ease-out;
}

.cvContent.visible {
	opacity: 1;
	transition-delay: 0.4s;
	transition-duration: 0.1s;
}

.contactContent {
	color: var(--background-color);
	position: absolute;
	left: 0%;
	width: 100%;
	top: 30vh;
	padding: 2%;
	opacity: 0;

	transition-delay: 0.0s;
	transition-duration: 0.0s;
	transition-timing-function: ease-out;
}

.contactContent.visible {
	opacity: 1;
	transition-delay: 0.4s;
	transition-duration: 0.1s;
}